body {
  background-image: url(../public/img/back.img);
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  backdrop-filter: blur(3px);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: rgb(39, 38, 38);
  width: 250px;
  height: 75px;
  background-color: rgb(245, 173, 105);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 50px;
}

button {
  width: 100px;
  padding: 5px;
  cursor: pointer;
}
img {
  width: 500px;
  border: 5px solid rgb(190, 134, 87);
  border-radius: 5px;
}

.get-dogs {
  display: flex;
}

.select {
  margin: 0 20px 20px;
   position: absolute;
  z-index: -1;
  opacity: 0;
  border: 2px solid red;
}
.option {
  background-color: rgb(245, 202, 154);
  border: 0;
  padding-right: 15px;
  height: 31px;
  width: 220px;
  color: rgb(94, 67, 32);
}
.option:focus {
  background-color: rgb(245, 202, 154);
  border: 0;
}
  
.label {
  padding: 3px;
  background-color: rgb(245, 173, 105);
  border: 3px solid rgb(151, 108, 51);
  font-weight: 500;
  border-radius: 6px;
  margin-right: 20px;
  font-size: 15px;
}
.random-block {
  width: 700px;
  height: 500px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.select-block {
  width: 500px;
  height: 400px;
}

.random-btn {
  width: 700px;
  height: 50px;
  padding: 5px;
  background-color: rgb(245, 173, 105);
  border: 4px solid rgb(151, 108, 51);
  font-weight: bold;
  color: rgb(36, 34, 33);
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 50px;
  font-weight: bold;
}
.select-btn {
  width: 100px;
  height: 50px;
  padding: 5px;
  background-color: rgb(245, 173, 105);
  border: 4px solid rgb(151, 108, 51);
  font-weight: bold;
  color: rgb(32, 31, 29);
  border-radius: 6px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.dogs-gallery {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: rgb(39, 38, 38);
  width: 250px;
  height: 60px;
  background-color: rgb(245, 173, 105);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

.num-inp {
  background-color: bisque;
  border: 2px solid rgb(116, 73, 38);
  border-radius: 5px;
}

.gallery-btn {
  width: 100px;
  height: 40px;
  padding: 5px;
  background-color: rgb(245, 173, 105);
  border: 4px solid rgb(151, 108, 51);
  font-weight: bold;
  color: rgb(32, 31, 29);
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.info {
  width: 400px;
  background-color: rgb(245, 173, 105);
  border: 2px solid rgb(151, 108, 51);
  padding: 2px;
  color: rgb(32, 31, 29);
  border-radius: 6px;
}